# Virtual environment
env/
fastapiserver/
venv/

# db file
db.json

# Python bytecode
__pycache__/
*.py[cod]

# IDE and editor folders
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Environment variables file
.env

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
*.sqlite3
